In [ ]:
import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

In [ ]:
df = pd.read_csv("Costomer+OrderForm.csv")

In [ ]:
df.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [ ]:
df.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [ ]:
df.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [ ]:
Phillippines =df["Phillippines"].value_counts()
Phillippines

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [ ]:
Indonesia= df["Indonesia"].value_counts()
Indonesia

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [ ]:
Malta = df["Malta"].value_counts()
Malta

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [ ]:
India =df["India"].value_counts()

In [ ]:
India

Error Free    280
Defective      20
Name: India, dtype: int64

In [ ]:
chistats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
chistats[0], chistats[1],chistats[2],chistats[3]

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [ ]:
if chistats[1]>0.05:
    print("Null hypothesis cannot be rejected")
else:
    print("Null hypothesis rejected")

Null hypothesis cannot be rejected

In [ ]:
# defective % across the center is same and null hypothesis cannot be rejected